// Colors

$white:     #ffffff;
$gray-50:   #f4f5f6;
$gray-100:  #ecedee;
$gray-200:  #dee2e6;
$gray-300:  #c2c8cf;
$gray-400:  #adb5bd;
$gray-500:  #8c939c;
$gray-600:  #686c73;
$gray-700:  #444b53;
$gray-800:  #353c45;
$gray-900:  #2e353d;
$black:     #23292f;

$blue:      #5C66FC;
$indigo:    #6610f2;
$purple:    #7049a3;
$pink:      #d96eae;
$red:       #cc3e4a;
$orange:    #e76d3b;
$yellow:    #d9a322;
$green:     #84b547;
$green-l:   #8DD1B7;
$blue-l:    #8DB7D1;
$teal:      #2dbda8;
$cyan:      #17a2b8;

$primary:   $blue;
$secondary: $gray-600;
$success:   #2cbf6d;
$info:      $cyan;
$warning:   #efc663;
$danger:    #e16070;
$pending:   #9677df;
$light:     $gray-100;
$dark:      $gray-800;
$gray:      $gray-600;


$grays: () !default;
$grays: map-merge((
  "50":  $gray-50,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);


$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "green-l":    $green-l,
  "blue-l":     $blue-l,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray,
  "gray-50":    $gray-50,
  "gray-100":   $gray-100,
  "gray-200":   $gray-200,
  "gray-300":   $gray-300,
  "gray-400":   $gray-400,
  "gray-500":   $gray-500,
  "gray-600":   $gray-600,
  "gray-700":   $gray-700,
  "gray-800":   $gray-800,
  "gray-900":   $gray-900
), $theme-colors);
/*
$white:     #ffffff;
$gray-100:  #f8f9fa;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #6c757d;
$gray-700:  #495057;
$gray-800:  #343a40;
$gray-900:  #212529;
$black:     #000000;

$blue:      #007bff;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;

$primary:   $blue;
$secondary: $gray-600;
$success:   $green;
$info:      $cyan;
$warning:   $yellow;
$danger:    $red;
$light:     $gray-100;
$dark:      $gray-800;
*/
// Body
$body-bg: #f0f1f3;
$body-color: $gray-700;

// Typography
$font-family-sans-serif: sans-serif;
$font-family-base: 'Lato', Roboto;
$font-size-base: 1rem;
$enable-gradients: false;
$text-color: #636b6f;

