
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
//@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// DataTable
@import "node_modules/datatables.net-bs4/css/dataTables.bootstrap4";
@import "node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4";
@import "node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4";
@import "node_modules/datatables.net-select-bs4/css/select.bootstrap4";

// Custom
@import "custom";

// cAutocomplete
@import "cAutocomplete";

// FontAwasome
//$fa-font-path: "../fonts/font-awesome/fonts" !default;

@import '../fonts/fontawesome-free-5.0.13/web-fonts-with-css/scss/fa-brands';
@import '../fonts/fontawesome-free-5.0.13/web-fonts-with-css/scss/fa-regular';
@import '../fonts/fontawesome-free-5.0.13/web-fonts-with-css/scss/fa-solid';
@import '../fonts/fontawesome-free-5.0.13/web-fonts-with-css/scss/fontawesome';

// Simple-line-icons
@import 'node_modules/simple-line-icons/scss/simple-line-icons.scss';

// Material-design-icons
@import 'node_modules/material-design-icons/iconfont/material-icons';

// Fancyapps
@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min";

// Sweetalert2
@import "node_modules/sweetalert2/dist/sweetalert2.min";

// Toastr
@import "node_modules/toastr/toastr.scss";

// Bootstrap-select
@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";

// Effects
@import "effects/btn_effect";
@import "effects/img_effect";