[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

sup {
    top: -.5em !important;
    font-size: .6em !important;
}

.toogle-value{
	position: fixed; 
	bottom: 20px; 
	right: 20px;
}
.toogle-value>i {
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
}

.opened-card .free-text{
	color: $success;
}
.closed-card .free-text{
	color: $primary;
}

.list-group-item:hover{
	background-color: $gray-50;
	box-shadow: inset 4px 0 0 0px $primary;
	cursor: pointer;
}

.list-group-item{
	transition: all 0.6s ease-in-out;
}

.opened-card .selected-item > li{
	background-color: $gray-50;
	box-shadow: inset 4px 0 0 0px $primary;
	cursor: pointer;
}

.opened-card .list-group-item:hover{
	background-color: $gray-50;
	box-shadow: inset 4px 0 0 0px $primary;
	cursor: pointer;
}

.opened-card .list-group-item{
	transition: all 0.6s ease-in-out;
}

.opened-card .item-icon-arrow {
	display: none;
	transition: all 0.6s ease-in-out;
}

.closed-card .list-group-item{
	transition: all 0.6s ease-in-out;
}

.closed-card .selected-item .item-icon-arrow{
	display: inline !important;
}

.closed-card .card-header{
	display: none;
}

.closed-card .unselected-item{
	display: none;
}

.closed-card .item-price:not(.text-muted){
	color: $primary;
}

.closed-card .selected-item > li{
	transition: all 0.6s ease-in-out;
}


html, body {
  height: 100%;
}

.min-100 {
    min-height: 100%;
}
.link-unstyled {
	&,
	&:visited,
	&:hover,
	&:active,
	&:focus,
	&:active:hover {
		font-style: inherit;
		color: inherit;
		background-color: transparent;
		font-size: inherit;
		text-decoration: none;
		font-variant: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-family: inherit;
		border-radius: inherit;
		border: inherit;
		outline: inherit;
		box-shadow: inherit;
		padding: inherit;
		vertical-align: inherit;
	}
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.pointer {
	cursor: pointer;
}

.h-shadow-none:hover{
	@extend .shadow-none;
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
}
.h-shadow-sm:hover{
	@extend .shadow-sm;
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
}
.h-shadow:hover{
	@extend .shadow;
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
}
.h-shadow-lg:hover{
	@extend .shadow-lg;
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
}

.card-footer-btn:last-child {
	border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer-btn {
	padding: 0.75rem 1.25rem;
	border-top: 1px solid $border-color;
}

.btn-group.is-invalid{
	border: 1px $danger solid !important;
}
.btn-group.is-valid{
	border: 1px $success solid !important;
}

.border-2 {
	border-width:2px !important;
}
.border-3 {
	border-width:3px !important;
}
.border-4 {
	border-width:4px !important;
}
.border-5 {
	border-width:5px !important;
}

.att_overlay:hover {
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	border-radius: 0.25rem;
	background-color: #f1f4f7;
	cursor: pointer;
}

.form-control-plaintext {
	margin-top: -6px;
	padding-top: 0px;
}

.label-plaintext {
	margin-bottom: 0px;
	bottom: -6px;
	font-weight: bold;
}

.label-sm{
	font-size: 11px;
}

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

table.dataTable {
	border-collapse: collapse !important;
}

table.table-pointer > tbody > tr {
	cursor: pointer;
}

:root {
	--input-padding-x: .75rem;
	--input-padding-y: .75rem;
}

.input-group.appends{
	margin-bottom: 1rem;
}

.form-label-group {
	margin-bottom: 1rem;
}

div.form-label-group.form-control {
	padding: 0px;
}

div.form-label-group.form-control > input {
	border: none;
	width: 100%;
}

div.form-label-group.form-control > input::-ms-expand {
	background-color: transparent;
	border: 0;
}

div.form-label-group.form-control > input:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

div.form-label-group.form-control > input:disabled, 
div.form-label-group.form-control > input[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

.form-label-group select{
	box-sizing: border-box;
	height: 49px !important;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 9px;
}

.form-label-group > input,
.form-label-group > textarea,
.form-label-group > label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
	position: absolute;
	top: 0;
	left: 4;
	display: block;
	margin-bottom: 0; /* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input:-ms-input-placeholder { color: transparent; }
.form-label-group input::-ms-input-placeholder { color: transparent; }
.form-label-group input::-webkit-input-placeholder { color: transparent; }
.form-label-group input::-moz-placeholder { color: transparent; }
.form-label-group input::placeholder { color: transparent; }
.form-label-group textarea:-ms-input-placeholder { color: transparent; }
.form-label-group textarea::-ms-input-placeholder { color: transparent; }
.form-label-group textarea::-webkit-input-placeholder { color: transparent; }
.form-label-group textarea::-moz-placeholder { color: transparent; }
.form-label-group textarea::placeholder { color: transparent; }

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
} 

.form-label-group select.selected {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
} 

.form-label-group select.selected ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

.form-label-group textarea:not(:placeholder-shown) ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}